html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.container-fluid {
	padding-bottom: 20px;
	color: black;
}

#header_box {
	 background-color: black;
	 height: 20vh;
}

#mars_row {
	padding: 10px;
}

.container-fluid h1{
	font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.container-fluid .btn{
	margin: 20px auto;
	width: 170px;  
 	display: block;
 	text-align: center;
 	color: black;
 	background-color: white;
}

.container-fluid h2 {
	color: black;
	font-size: 25px;
    font-weight: bold;
}

#mars_hemisphere {
	padding: 10px;
	padding-top: 20px;
}

#mars_hemisphere h2 {
	text-align: center;
	padding-bottom: 25px;
	font-size: 40px;
}

.container-fluid h4 {
	font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.container-fluid h5 {
	color: #2f3d4c;
	font-size: 15px;
    font-weight: bold;
}

.container-fluid p {
    font-size: 16px;
}

#panel p {
	padding: 5px;
	color: black;
}

th { 
    font-size: 15px;
    padding: 3px;
    color: #2f3d4c;
}

td { 
    font-size: 15px;
    padding: 5px;
    color: #2f3d4c;
}

table {
    font-size: 14px;
    padding: 5px;
}

img {
	width: 80%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
}


/*---Media Queries --*/

@media (max-width: 992px) {

	#header_box {
		height: 25vh;
		padding: 15px;
	}

	#header_box .btn {
		margin: 0 auto;
		font-size: 15px;
		width: 160px;  
	 	display: block;
	 	text-align: center;
	 	color: black;
	 	background-color: white;
   }

   	.container-fluid h1 {
		font-size: 25px;
	    font-weight: bold;
	    color: white;
	    text-align: center;
	    padding-top: 10px;
	}

	img {
	width: 80%;
	}

	#mars_hemisphere h2 {
		text-align: center;
		padding-bottom: 25px;
		font-size: 30px;
	}
}

@media (max-width: 768px) {

 	.container-fluid {
	padding-bottom: 5px;
	color: black;
	}

	#header_box {
		height: 25vh;
		padding: 10px;
	}

	#mars_row {
		padding: 10px;
	}

	.container-fluid h1 {
		font-size: 20px;
	    font-weight: bold;
	    color: white;
	    text-align: center;
	    padding-top: 10px;
	}

	#header_box .btn {
		margin: 0 auto;
		font-size: 15px;
		width: 160px;  
	 	display: block;
	 	text-align: center;
	 	color: black;
	 	background-color: white;
	}

	.container-fluid h2 {
		color: black;
		font-size: 20px;
	    font-weight: bold;
	}

	.container-fluid h4 {
		font-size: 15px;
	    font-weight: bold;
	    padding: 5px;
	}

	.container-fluid h5 {
		color: #2f3d4c;
		font-size: 12px;
	    font-weight: bold;
	}

	.container-fluid p {
	    font-size: 15px;
	}

	img {
		max-width: 100%;
	}

	#panel p {
		padding: 5px;
		color: black;
	}

	th { 
	    font-size: 15px;
	    padding: 3px;
	    color: #2f3d4c;
	}

	td { 
	    font-size: 15px;
	    padding: 3px;
	    color: #2f3d4c;
	}

	table {
	    font-size: 15px;
	    padding: 5px;
	}

	#mars_hemisphere h2 {
		text-align: center;
		padding-bottom: 25px;
		font-size: 25px;
	}

	#mars_hemisphere h3 {
		text-align: center;
		padding-bottom: 25px;
		font-size: 20px;
	}
}

 
@media (max-width: 576px) {

 	.container-fluid {
	padding-bottom: 5px;
	color: black;
	}

	#header_box {
		height: 20vh;
	}

	#mars_row {
		padding: 10px;
	}

	.container-fluid h1 {
		font-size: 20px;
	    font-weight: bold;
	    color: white;
	    text-align: center;
	    padding-top: 15px;
	}

	#header_box .btn {
		margin: 0 auto;
		font-size: 10px;
		width: 160px;  
	 	display: block;
	 	text-align: center;
	 	color: black;
	 	background-color: white;
	}

	.container-fluid h2 {
		color: black;
		font-size: 20px;
	    font-weight: bold;
	}

	.container-fluid h4 {
		font-size: 12px;
	    font-weight: bold;
	    padding: 5px;
	}

	.container-fluid h5 {
		color: #2f3d4c;
		font-size: 12px;
	    font-weight: bold;
	}

	.container-fluid p {
	    font-size: 12px;
	}

	img {
		max-width: 100%;
	}

	#panel p {
		padding: 5px;
		color: black;
	}

	th { 
	    font-size: 12px;
	    padding: 3px;
	    color: #2f3d4c;
	}

	td { 
	    font-size: 12px;
	    padding: 3px;
	    color: #2f3d4c;
	}

	table {
	    font-size: 12px;
	    padding: 5px;
	}

	#mars_hemisphere h2 {
		text-align: center;
		padding-bottom: 25px;
		font-size: 20px;
	}

	#mars_hemisphere h3 {
		text-align: center;
		padding-bottom: 25px;
		font-size: 15px;
	}
}

  